.stack {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--s1);
}

.stack-small > * + * {
  margin-top: var(--s-3);
}

.stack-large > * + * {
  margin-top: var(--s3);
}

.stack-recursive * + * {
  margin-top: var(--s1);
}

.stack-recursive-small * + * {
  margin-top: var(--s0);
}

.stack-recursive-large * + * {
  margin-top: var(--s3);
}
