.stack {
  --smaller: var(--s-4);
  --small: var(--s-2);
  --base: var(--s1);
  --big: var(--s2);
  --bigger: var(--s4);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--base);
}

.stack-smaller > * + * {
  margin-top: var(--smaller);
}

.stack-small > * + * {
  margin-top: var(--small);
}

.stack-big > * + * {
  margin-top: var(--big);
}

.stack-bigger > * + * {
  margin-top: var(--bigger);
}

.stack-recursive * + * {
  margin-top: var(--base);
}

.stack-recursive-smaller * + * {
  margin-top: var(--smaller);
}

.stack-recursive-small * + * {
  margin-top: var(--small);
}

.stack-recursive-big * + * {
  margin-top: var(--big);
}

.stack-recursive-bigger * + * {
  margin-top: var(--bigger);
}
